@font-face {
  font-family: Bebas;
  src: url("/public/Bebas_Neue/BebasNeue.ttf");
}

.movie-container {
  background-color: #253240;
  padding: 5rem;
  height: 100%;
}
.movie-grid {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr)); */

  grid-template-columns: repeat(4, 1fr);
  gap: 5rem;
  row-gap: 12rem;
}

.rating-circle {
  position: absolute;
  top: 1%;
  right: 2%;
  z-index: 2;
}

.movie-img-container {
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 2rem;
}

.movie-item {
  height: 30vw;
  width: 100%;
  text-align: center;
  cursor: pointer;
  transition: all ease-in-out 250ms;
}
.movie-item:hover {
  transform: scale(1.05);
}
.movie-release-date {
  color: grey;
  font-size: 2.2rem;
  font-family: Bebas;
}
.movie-title {
  font-family: Bebas;
  font-size: 2.6rem;
  letter-spacing: 1px;
}

@media screen and (max-width: 991.98px) {
  .movie-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  .movie-item {
    height: 40vh;
    margin-bottom: 2rem;
  }
  .movie-container {
    padding: 2rem;
  }
  .movie-img-container {
    min-height: 70%;
    max-height: 70%;
    border-radius: 1rem;
  }
  .movie-item {
    justify-content: flex-start;
  }
  .movie-title {
    font-size: 2.2rem;
    text-align: center;
  }
}
@media screen and (max-width: 991.98px) {
  .movie-container {
    margin-top: 2rem;
    margin-bottom: 5rem;
  }
}
