.filter-container {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  padding: 2rem 5rem;
  position: relative;
}

.filter-container button {
  border: none;
  background-color: #75d5ab;
  color: #3b4856;
  font-size: 2rem;
  font-family: bebas;
  padding: 2rem;
  cursor: pointer;

  transition: all ease-in-out 150ms;
}

.dropdown-menu {
  position: absolute;
  background-color: #75d5ab;
  z-index: 25;
}
.dropdown-menu li {
  list-style: none;
  color: #3b4856;
  font-size: 2rem;
  font-family: bebas;
  padding: 2rem;
  cursor: pointer;
}

.dropdown-menu li:hover {
  background-color: #1a2634;
  color: white;
}
@media screen and (max-width: 991.98px) {
  .filter-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    justify-content: center;
    padding: 2rem;
  }
  .filter-container button {
    font-size: 2.2rem;
    width: 70vw;
  }
}
